/* General Styles */
body {
    width: 300px;
    height: 350px;
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #eef2ff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Logo */
.logo {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

/* Buttons */
.btn {
    background-color: #4a5d9b;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}

.btn:hover {
    background-color: #3b4c7b;
}

/* Screens */
.screen {
    display: none;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Active Screen */
.active {
    display: block;
}

/* Input Fields */
input {
    width: 80%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.input-group {
    margin-bottom: 1rem;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.input-group input {
    padding-left: 10px;
    width: 100%; 
    box-sizing: border-box; 
}

/* Highlighted Text */
.highlight {
    color: #f5a623;
    font-weight: bold;
}

/* Back Button */
.back-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
}

/* Invite Code */
.invite-code {
    font-weight: bold;
    color: #f5a623;
    font-size: 18px;
}

/* Player Name*/
.player-name {

    font-family: 'Roboto';
    width: 39px;
    height: 12px;
    color: #56658F; 
    font-weight: bold;

}

/* Competitor Name*/
.competitor-name {

    font-family: 'Roboto';
    width: 39px;
    height: 12px;
    color: #56658F; 
    font-weight: bold;

}

/* Input text*/
.input-text {
    width: 114px;
    height: 25px;
    background-color: #FFFFFF;
    opacity: 1; 
    border-radius: 60px;
}

/* Start Button */
.start-btn {
    background-color: #4a5d9b;
    color: white;
    border: none;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-btn:hover {
    transform: scale(1.05);
}
